/* reset  */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
                    /* commons */
.invert{
    filter: invert(1);
}
.white{
    color: white;
    font-size: 20px;
}
body{
    background-color: #111111;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    margin-bottom: 50px;
}
main{
    height: calc(100vh - 150px);
    margin-bottom: 20px;
    background-color: #111111;
}
footer{
    height: 40px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;

}

/* header */
.left-nav, .right-nav{
    background-color: black;
    height: 40px;
    border-radius: 5px;
}
.left-nav i, .right-nav i{
    font-size: 20px;
    margin-right: 10px;
}
/* main */
.main-container{
    max-width: 90%;
    margin: auto;
    height: calc(100vh - 150px);;
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;

}
.box{
    height: calc(100% / 6 - 10px);
    width: calc(100% / 6 - 10px);
    background-image: url("../img/847-278x200.jpg");
    border-radius: 5px;
    margin: 5px;
}

.left-footer{
    width: 30%;
}

.center-footer{
    width: 60%;
}

.right-footer{
    width: 10%;
}